.frm{ margin-top: 40px;}
.bdy{  margin: 50px; background-color: #B6B8D4; }
#bttn{border-radius: 10px; width: 100%; padding: 30px; padding-top: 20px;}
#sub{width: 100%; border-radius: 8px;padding: 10px; background-color: #3440E5; color: white;}
#dd{padding: 20px;}
